{%  extends 'base.html.twig' %}

{% block body %}
{# dump() #}

<h1>Welcome, página Home</h1>

<div>
    {{ form(form) }}
</div>

{% for comment in comments %}

    <p>{{ comment.body }}</p>

{% endfor %}

{% endblock %}